:root {
  --light-theme-text-color: #28231e;
  --dark-theme-text-color: #b8b4ac;
  --button-color: #7e756d;
  --date-color: #73756d;
  --drawer-bg-color: #464038;
  --drawer-content-font-color: #f5f0e5;
  --hover-button-color: #ca8825;
}
