.rateUsHidden {
  display: none;
}

.rateUsLink {
  text-decoration: none;
}

.rateUsLink:hover :is(.rateUsContent svg path, .rateUsText) {
  fill: var(--hover-button-color);
  color: var(--hover-button-color);
  transition: 0.25s;
}

.infoContainer a:hover h2 {
  transition: 0.25s;
}

.rateUsFixed {
  /*We are using fixed and not absolute, since absolute would bring in a vertical scrollbar when the animation is triggered*/
  position: fixed;
  right: 150px;
  /*Mentioning bottom here is not needed since the animation ends with the 'forwards' keyword*/
  animation: fromBottom 1s forwards;
}

.rateUsContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rateUsContent .rateUsText {
  font-weight: normal;
  color: var(--drawer-content-font-color);
  font-size: 14px;
  margin: 0 12px;
}

.rateUsWithBgVariant {
  background: var(--rate-us-bg-color);
  padding: 20px;
  border-radius: 5px;
}

.rateUsLink:hover .rateUsWithBgVariant {
  background: var(--rate-us-bg-color-hover);
  transition: 0.5s;
}

.rateUsWithBgVariant :is(.rateUsText, svg path) {
  color: var(--drawer-bg-color);
  fill: var(--drawer-bg-color);
  transition: 0.25s;
}

.rateUsLink:hover
  :is(.rateUsWithBgVariant svg path, .rateUsWithBgVariant .rateUsText) {
  fill: var(--drawer-bg-color);
  color: var(--drawer-bg-color);
}

@keyframes fromBottom {
  from {
    bottom: -100px;
  }
  to {
    bottom: 15px;
  }
}
