.skewedDiagonal {
  position: absolute;
  top: -60%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-bg-color);
  transform: skewY(-5deg);
  transform-origin: top left;
  transition: 0.4s;
}

@media screen and (max-height: 550px) {
  .skewedDiagonal {
    top: -70%;
  }
}
