.app,
.mainContainer {
  padding: 0 48px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 999;
}

.app {
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 0 24px;
  }
}

@media screen and (min-width: 990px) {
  .shrink {
    margin-left: 250px;
  }
}
