.app,
.mainContainer {
  background: var(--primary-bg-color);
  color: var(--text-color);
  padding: 0 48px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app {
  transition: 0.4s;
}

.noTransition {
  transition: none;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 0 24px;
  }
}

@media screen and (min-width: 990px) {
  .shrink {
    margin-left: 250px;
  }
}
