@font-face {
  font-family: "Sadhguru Thin";
  src: url("https://images.sadhguru.org/profiles/isha/themes/ishatheme/fonts/WF-028154-009464-000007.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sadhguru Serif";
  src: url("https://images.sadhguru.org/profiles/isha/themes/ishatheme/fonts/WF-028154-009464-000003.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sadhguru Thick 1";
  src: url("./assets/fonts/sg-thick-1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sadhguru Thick 2";
  src: url("./assets/fonts/sg-thick-2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fedra Sans Std";
  src: url("https://images.sadhguru.org/profiles/isha/themes/ishatheme/fonts/Fedra-Sans-Std-Book.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background: #fffbf2; */
  background: #28231e;
  background-size: cover;
  font-family: "Fedra Sans Std", "Sadhguru Thin", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
